
//## Gray and brand colors for use across Bootstrap.

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 70%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

// $brand-primary:         #4582EC !default;
$brand-primary:         #515b74 !default;
// $brand-primary:         lighten(#072832, 10%) !default;
$brand-success:         #3FAD46 !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;

//** Text muted color
// $text-muted:                  $gray-light !default;
$text-muted:                  lighten($brand-primary, 35%) !default;

//** Abbreviations and acronyms border color
$abbr-border-color:           $gray-light !default;
//** Headings small color
$headings-small-color:        $gray-light !default;
//** Blockquote small color
$blockquote-small-color:      $gray-light!default;
//** Blockquote border color
$blockquote-border-color:     $gray-light !default;
//** Page header border color
$page-header-border-color:    $gray-lighter !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 20%) !default;
