.row {
  margin-top: 30px;
}

.push-down {
  margin-top: 43px;
}

.img-responsive-centered {
  margin: auto auto;
}

.image-helper {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
