@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

/* change the URL to a picture of your choice - the higher quality the better! */
.business-header {
  /* background-color: #bdc3c7;*/
}

.default-page-header, .business-header {
  background-color: rgb(233, 230, 225);
  color:#34495e;
	/* background: url(http://placehold.it/1920x400) center center no-repeat;*/
	background-size: cover;
  padding: 70px 0px 60px 0px;
  text-align:center;
}

.header-border {
  height: 14px;
  background-image: url("/images/border.png");
  background-repeat: repeat-x;
}


h1, h2, h3, h4, h5, h6 {
  font-family: Lato, Sans-serif;
  margin-bottom:30px;
  letter-spacing: 2px;
  font-weight:bold;
}

.default-page-header p, .business-header p {
  font-family: Lato, Sans-serif;
  font-weight: 300;
  font-size: 1.3em;

}

strong {color:#2980b9;}

.btn-transparent {
  border: 1px solid #1f1f1f;
  color: #1f1f1f;
}

.home-col p {
  padding:0px 25px;
}


.img-responsive {
  margin: 0 auto;
}

/* adjust the color and text shadow to optimize legibility once you have an image set - you can also change the vertical positioning if desired  */
.tagline {
	/* color: #fff;*/
	/* text-shadow: 0 0 10px #000;*/
}

footer {
	margin: 50px 0;
}


/* Lichtvis*/
.header{
  margin-bottom: 20px;
}

.portfolio-index{
  padding:50px;
}

.navbar-default .navbar-nav > li > a:link {
  color:#bdc3c7;
}
.navbar-default .navbar-nav > li > a:visited {
  color: #bdc3c7;
}
.navbar-default .navbar-nav > li > a:hover {
  color: white;
}
.navbar-default .navbar-nav > li > a:active {
  color: #bdc3c7;
}

.navbar {
  background-color:#2c3e50;
}
