.container
  %footer
    .row.text-muted.text-center
      .col-lg-12
        %p by2.be bvba &middot; Generaal Lemanlaan 77 &middot; 8310 Brugge &middot; 050 969 962 &middot; BE-0890.991.025 &middot; RPR Brugge &middot; Dexia: 068-2479949-74
