---
  title: 
    UW PROJECT, ONZE EXPERTISE
  subtitle: 
    We zijn een team van ontwikkelaars gepassioneerd door nieuwe webtechnologieën.
    Al 10 jaar creëren we digitale oplossingen voor ondernemers, scholen, universiteiten en vzw's. 
  call_to_action: Download onze referenties
  call_to_action_link: http://goo.gl/WYxSf1
  call_to_action: Bekijk wat we doen
  call_to_action_link: /portfolio
---

.row.text-center.home-col
  .col-sm-4
    %img.img-circle.img-responsive.center-block{:src => "/images/compose.png"}/
    %h2 We luisteren
    %p Door ons onder te dompelen in uw leefwereld leren we alle facetten van het probleem echt kennen, totdat we een concrete oplossing vinden die tegelijkertijd eenvoudig, efficiënt en snel is.
  .col-sm-4
    %img.img-circle.img-responsive.center-block{:src => "/images/tools.png"}/
    %h2 We bouwen
    %p Dankzij onze jarenlange ervaring in het uitbouwen van geavanceerde weboplossingen staan we voor elke uitdaging klaar. Onze weboplossing is het eindproduct van een proces van opeenvolgend ontwikkelen en terugkoppelen.
  .col-sm-4
    %img.img-circle.img-responsive.center-block{:src => "/images/tablet.png"}/
    %h2 We volgen op
    %p 
      Het bouwen van de oplossing is niet de laatste stap. We helpen u 
      het product effectief gebruiken met tips en advies.


.row
  .col-lg-8.col-sm-8
    %h2 Onze sterkte, uw succes
    %p Onze rol bestaat erin uw vraag goed te leren kennen, de juiste technologie te kiezen en u te begeleiden tijdens en na de ontwikkeling.
    %p Van zodra de vraag goed is in kaart gebracht, formuleren we een mogelijke weboplossing. Daarbij krijgt u zicht op de prijs en de berekening ervan. Zo is er ook ruimte om zelf bij te sturen - wat voor jou belangrijk en financieel haalbaar is. Tijdens de ontwikkeling bent u dus actief betrokken. U kunt de evolutie volgen en bijsturen.
    %p We denken graag inhoudelijk met u mee en geven advies over elke stap zodat de digitale toepassing een succes wordt.
    
  .col-lg-4.col-sm-4
    .well
      %h2 Contacteer ons
      %address
        %strong by2.be bvba
        %br/
        Rubenslaan 25
        %br/
        8310 Brugge
        %br/
      %address
        %abbr{:title => "Phone"} T:
        050 969 962
        %br/
        %abbr{:title => "Email"} E:
        %a{:href => "mailto:#"} team@by2.be
      %em
        Heeft u een idee? Of is uw vraag heel concreet? Laat het ons weten. We zijn één en al oor!
