---
  title: 
    UW PROJECT, ONZE EXPERTISE
  title: 
    Klaar voor uw project
  subtitle: 
    We zijn een team van ontwikkelaars gepassioneerd door nieuwe webtechnologieën.
    Al 10 jaar creëren we digitale oplossingen voor ondernemers, scholen, universiteiten en vzw's. 
  call_to_action: Download onze referenties
  call_to_action_link: http://goo.gl/WYxSf1
  call_to_action: Bekijk wat we doen
  call_to_action_link: /portfolio
---

.container
  .row.text-center.home-col
    .col-sm-4
      %img.img-circle.img-responsive.center-block{:src => "/images/browser.png"}/
      %h2 Website
      %p 
        Wij creëren functionele websites, maar ook online ledenbeheersystemen, boekingssystemen en communicatiesystemen op maat, al of geïntegreerd met een website.
    .col-sm-4
      %img.img-circle.img-responsive.center-block{:src => "/images/computer.png"}/
      %h2 Webapp
      %p Wij programmeren moderne webapps, moderniseren verouderderde desktopprogramma’s, en geven een boost aan automatisering en workflow.
    .col-sm-4
      %img.img-circle.img-responsive.center-block{:src => "/images/tablet.png"}/
      %h2 Mobiel
      %p Wij bouwen mobiele applicaties. Twijfelt u tussen op het web of mobiel? Wij bouwen ook mobiele webapplicaties.


.container
  .row
    .col-lg-8.col-sm-8
      %h2 Onze sterkte, uw succes
      %p
        Wij luisteren eerst naar uw vraag, kiezen daarna de juiste technologie en, ontwikkelen de app en begeleiden u tijdens en na de ontwikkeling.
      %p
        Vanaf de start krijgt u zicht op de prijs en de berekening ervan. Er is natuurlijk ook ruimte om zelf bij te sturen - wat is voor u belangrijk en/of financieel haalbaar. 
      %p
        We denken graag inhoudelijk met u mee en geven advies over elke stap zodat uw digitale toepassing een succes wordt.

      
    .col-lg-4.col-sm-4
      .well
        %h2 Contacteer ons
        %address
          %strong by2.be bvba
          %br/
          Rubenslaan 25
          %br/
          8310 Brugge
          %br/
        %address
          %abbr{:title => "Phone"} T:
          050 969 962
          %br/
          %abbr{:title => "Email"} E:
          %a{:href => "mailto:#"} team@by2.be
        %em
          U wil meer weten? U heeft een (mogelijke) opdracht? Laat het ons weten. We zijn één en al oor!

.row.testimonial
  .dark-mask
    .container 
      %ul
        %li.lead "De samenwerking verloopt heel vlot en alles wordt super opgevolgd. By2 werkt het concept goed mee uit werken en geven er dan de prachtige vorm aan zoals onze mooie en leuke website!"
        %li - Kelly Van Leemput

.container.customers_container{style: "margin: 10px Opx "}
  %hr
  %h1 Met dank aan
  %h4 onze klanten
  %hr
  - Dir["./source/images/customers/*.png"].each_slice(4) do |image_paths|
    .row.text-center
      - image_paths.each do |image_path|
        - image_path = Pathname.new(image_path).relative_path_from(Pathname.new("./source"))
        .col-sm-3{style: "height: 80px"}
          %span.image-helper
          %img{src: image_path, style: "vertical-align: middle"}
  %hr
