---
title: Aan de slag met uw project
subtitle: 
  Elk van onze projecten slaagt door de persoonlijke hands-on aanpak. We bouwen
  samen met u.
---

.row
  .col-sm-3.push-down
    %img.img-circle.img-responsive.center-block{:src => "/images/compass.png"}/
  .col-sm-5
    %h2 1. we luisteren
    %p door ons onder te dompelen in uw leefwereld leren we alle facetten van het probleem echt kennen, totdat we een concrete oplossing vinden die tegelijkertijd eenvoudig, efficiënt en snel is.

.row
  .col-sm-5.col-sm-offset-4.text-right
    %h2 2. we bouwen
    %p dankzij onze jarenlange ervaring in het uitbouwen van geavanceerde weboplossingen staan we voor elke uitdaging klaar. onze weboplossing is het eindproduct van een proces van opeenvolgend ontwikkelen en terugkoppelen.
  .col-sm-3.push-down
    %img.img-circle.img-responsive.center-block{:src => "/images/tools.png"}/

.row
  .col-sm-3.push-down
    %img.img-circle.img-responsive.center-block{:src => "/images/volume.png"}/
  .col-sm-5
    %h2 3. we volgen op
    %p 
      het bouwen van de oplossing is niet de laatste stap. we helpen u 
      het product effectief gebruiken met tips en advies.
      %br
      Daarnaast zorgen we dat het product steeds perfect draait.
